.selectedItem {
  width: 500px;
  height: 300px;
  border: 1px solid blueviolet;
  margin: 5% 0 0 30%;
  border-top: none;
  box-shadow: 0px 1px 2px 1px blueviolet;
  padding: 2% 0 0 2%;
  background-color: white;
}
h3 {
  margin: 0% 0 5% 25%;
  text-align: center;
  border-bottom: 2px solid blueviolet;
  box-shadow: 0px 2px 3px 3px blueviolet;
  width: 50%;
}
input
 {
  width: 60% ;
  padding: 6px;
  border-radius: 20px;
  margin-right: 2%;
 }
 button {

  padding: 5px;
  background-color: blueviolet;
  color: white;
  font-size: 0.90em;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 1px 3px 1px blueviolet;


 }
