.form {
  /* margin: 5% 0 0 50%; */
  width: 550px;
  height: auto;
  border: 1px solid blueviolet;
  margin: 5% 0 0 35%;
  border-top: none;
  box-shadow: 0px 1px 2px 1px blueviolet;
  padding-top: 2%;

}
h1 {
  margin: 0% 0 5% 25%;
  text-align: center;
  border-bottom: 2px solid blueviolet;
  box-shadow: 0px 2px 3px 3px blueviolet;
  width: 50%;
}
.catItem {
  margin: 5% 8%;
  display: flex;
  width: 80%;
  position: relative;
  padding: 5px;
  justify-content: center;
  align-content: center;
  height: auto;

}
input {
  border: none;
  outline: none;
  margin-right: 5%;
  padding: 5px;
  font-size: 1.2rem;
  border-bottom: 2px solid blueviolet;

}
.btn {
  width: 30%;
}
button {
  padding: 5px 8px;
  background-color: blueviolet;
  color: white;
  font-size: 1.1em;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 1px 5px 1px blueviolet;
}
.categories a {
  padding: 5px 8px;
  background-color: blueviolet;
  color: white;
  font-size: 1.1em;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 1px 5px 1px blueviolet;
  margin: 5% 0;
}

.items{
  margin: 2% 0 0 40%;
 

}
h2{
  font-size: 1.3rem;
  margin: 5% 0 0 38%;
  text-align: center;
  border-bottom: 2px solid blueviolet;
  box-shadow: 0px 2px 3px 3px blueviolet;
  width: 30%;
}

 ul{
  width: 60%;
  list-style:square;
  list-style: none;
}
ul > li > a {
  text-decoration: none;
  font-size: 1.3rem;
  color: blueviolet;
  font-weight: 700;
  margin-right: 10%;

  text-transform: capitalize;

}

ul >li > button {
  padding: 5px;
  background-color: blueviolet;
  color: white;
  font-size: 0.90em;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 1px 3px 1px blueviolet;
}

